.App {
	display: flex;
	flex-flow: column nowrap;
}

.App-main {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
	padding: 2rem;
	min-height: calc(100vh - 3.5rem);
	width: 100%;
	max-width: 450px;
	align-self: center;
}

.App-section {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

/* Form */

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.form label {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

.form input,
.form select,
.btn {
	height: 3rem;
	padding: 0 0.5rem;
	border-radius: var(--radius);
}
